





    <section class="section is-small">
        <div class="container">
          <div class="columns">
            <div class="column is-centered-tablet-portrait">
              <h1 class="title section-title">Recent Projects and Posts</h1>
              <h5 class="subtitle is-5 is-muted"></h5>
              <div class="divider"></div>        
          
                <div class="container">

                {{- $pagesEachPage := 2 -}}
                  <div class="columns">
                    
					{{ $pages := union (where $.Site.RegularPages "Section" "projects") (where $.Site.RegularPages "Section" "blog") }}
          {{ $pages := first 4 $pages.ByWeight}}
           
                            
              <div class="section is-small">
                <div class="container">

                {{- $pagesEachPage := 2 -}}
                  <div class="columns">
                    {{- range $index, $element := $pages -}}
                        {{- if eq (mod $index $pagesEachPage) 0 -}}
                          </div>
                          <div class="columns">
                        {{- end -}}
                    
                       {{.Render "summary-1col"}}
                    {{- end -}}
                  </div>
                </div>







              



              
              </div>
          
          
            </div>
          </div>
        </div>
    </section>

