<section class="section is-medium">
 
        {{/*  <section class="section content">  */}}
        <section class="section content has-text-justified">
          <!-- <div class="here here here"> -->
           
          
        <div class="columns">
          <div class="column is-2"></div>
          <div class="column is-8 is-centered has-text-left" align="left">
              <div class="container">
             
                    <!-- <div class="column is-centered-tablet-portrait">-->
                      
                        <h1 class="title is-2 section-title">{{- .Title -}}</h1>
                        <h5 class="subtitle is-5 is-muted">{{- .Params.Subtitle -}}</h5>
                        <div class="divider"></div>
                        <br>
                        <br>
                        {{- .Content -}}
              </div>
           
          <div class="column is-2"></div>
        </div>

        </section>
</section>
  {{- if not .Params.hideLastModified -}}
  <div class="container">
    <div class="columns">
      <div class="column has-text-right is-family-monospace is-centered-tablet-portrait">
        Last modified: {{- .Lastmod.Format "2 January 2006" -}}
      </div>
    </div>
  </div>
  {{- end -}}
</section>