{{- define "main" -}}

    
        
        {{- partial "navbar.html" . -}}
        {{- partial "navbar-clone.html" . -}}

        {{- $homepage   := .Site.Params.homepage -}}

                {{- $title      := index $homepage "title" -}}
                {{- $subtitle   := index $homepage "subtitle" -}}
                {{- $image      := index $homepage "image" -}}


   <div class="container is-medium">
       <div class="columns is-multiline">
        	
          
          <div class="column is-quarter" align="center">	
 					  <figure class="image"> 
  	          {{- $img := resources.Get $image -}}
  	         <img src="{{- $img.Permalink | relURL -}}" 
  	                         style="width:{{- .Site.Params.homepage.imageWidth -}}" alt="Myself" align="center">
            </figure>
 					 <div>&nbsp</div>
 					 
           <h1 class="title is-3 is-bold is-spaced" align="center" >{{- $title -}}</h1>
 <h3 align="center">
             <h2 class="subtitle is-5 is-muted" align="center">Full Stack Problem Solver<p>Data Scientist<p>Interactive Music and Art Coder</h2>
                
              
           </h3>

          
	         <h2 class="subtitle is-5 is-muted" align="center"></h2>
	               
	        </div>

        <div class="column is-three-quarters">
     
           <section class="section">
    <div class="container">
         <h3 class="subtitle is-10 is-bold is-spaced" align="left" >
        Hi, I’m Pete. I’ve created this website for a place to share projects, tutorials, and notable solutioning journeys. I am always interested in meeting new people to collaborate on related projects. Find recent related posts below</h3>
         {{- partial "by-date.html" . -}}
</div>
</section>
     




        </div>
      </div>
</div>
</div>

 <!--<figure class="image"> 
                {{- $img := resources.Get $image -}}
               <img src="/images/test.png"
                     style="width:{{- .Site.Params.homepage.imageWidth -}}" alt="Myself">
                </figure>
            </div>-->




            
 


    {{- partial "footer.html" . -}}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{- partial "sidebar.html" . -}}

{{- end -}}