{{- define "main" -}}

    
        
        {{- partial "navbar.html" . -}}
        {{- partial "navbar-clone.html" . -}}

        {{- $homepage   := .Site.Params.homepage -}}

                {{- $title      := index $homepage "title" -}}
                {{- $subtitle   := index $homepage "subtitle" -}}
                {{- $image      := index $homepage "image" -}}


   <div class="container is-medium">
       <div class="columns is-multiline">
        	
          
          <div class="column is-quarter" align="center">	
 					  <figure class="image"> 
  	          {{- $img := resources.Get $image -}}
  	         <img src="{{- $img.Permalink | relURL -}}" 
  	                         style="width:{{- .Site.Params.homepage.imageWidth -}}" alt="Myself" align="center">
            </figure>
 					 <div>&nbsp</div>
 					 
           <h1 class="title is-3 is-bold is-spaced" align="center" >{{- $title -}}</h1>
 <h3 align="center">
             <h2 class="subtitle is-5 is-muted" align="center">Full Stack Problem Solver<p>Data Scientist<p>Interactive Music and Art Coder</h2>
                
              
           </h3>

          
	         <h2 class="subtitle is-5 is-muted" align="center"></h2>
	               
	        </div>

        <div class="column is-three-quarters">
     
           <section class="section">
    <div class="container">
         <h3 class="subtitle is-10 is-bold is-spaced" align="left" >
        Hi, I’m Pete. I’ve created this website for a place to share projects, tutorials, and notable solutioning journeys. I am always interested in meeting new people to collaborate on related projects. Find recent related posts below</h3>
         {{- partial "by-date.html" . -}}
</div>
</section>
     
          <div class="columns is-multiline">
            
              
              <div class="box">
                <div class="column is-12"  align="center">
  <div class="columns is-multiline is-vcentered">
                <div class="column is-3"  align="center">
                <div>&nbsp</div><!-- manual spaces --> 
                <img src="/images/stack_quilt_small.png" alt="full stack icon" align="center">
                </div>
                
               





                
                <div class="column is-9"  align="center">
                <h4 class="title is-4">Full Stack Solutioning</h4>
                <div>&nbsp</div>
                <h3 class="subtitle is-10 is-bold is-spaced" align="left" >
                I’m passionate about solving business problems by connecting deep analysis to elegant technical solutions.<div>&nbsp</div>
                <li>On the business side I am interested in agile frameworks / toolsets, anti-pattern identification, and business domain boundary identification.
                <div>&nbsp</div>
                <li>On the technology side I am interested as automation, infrastructure as code, microservices (Docker), and analytic visualization within the R ecosystem. 
                <div>&nbsp</div>
                I believe "full stack" is equivalent to continuous learning and I use this website to document my full stack journey...the good, the bad, the ugly
                </h3>
              </div>
            </div>
              </div> <!-- closing box -->

              <div>&nbsp</div><!-- manual spaces after box -->
              <div>&nbsp</div><!-- manual spaces after box -->
</div>
 <div class="box">
                <h4 class="title is-4">Data Science</h4>
                <img src="/images/datascience.png" alt="data science icon" align="center">
                <div>&nbsp</div><!-- manual spaces -->
                  <h3 class="subtitle is-10 is-bold is-spaced" align="left" >
                  Some of my experience across data driven domains include: </i><div>&nbsp</div>
                  <li>Information system record and transformation analysis
                  <div>&nbsp</div>
                  <li>Data collection and visualization on sophisticated electronic systems (satellite modems and atomic force microscopes)
                  <div>&nbsp</div>
                  <li>Monte-Carlo / discrete event model creation 
                  <div>&nbsp</div>
                  
                  I am an outspoken <b>R</b> champion because the R ecosystem is an amazing tool to frame and solve business problems. <div>&nbsp</div>
                  If you don't know what R is, its a programming language specialized for data science visualizations, statistics, and analytics. You can view some of my R related data products in the Projects sections of this website (the R category tag) 

                  </h3>
                </div> <!-- closing box -->
                <div>&nbsp</div><!-- manual spaces after box -->
                <div>&nbsp</div><!-- manual spaces after box -->









            </div><!-- closing column -->



            <div class="column" align="center">
             
              </div><!-- closing column-->






           <div class="column" align="center">
              <div class="box">
                <h4 class="title is-4">Interactive Art From Code</h4>
                <img src="/images/interactive_art.png" alt="interactive art icon" align="center">
                 <h3 class="subtitle is-10 is-bold is-spaced" align="left" >
                  <div>&nbsp</div>
                  As part of a team, I created a novel music instrument based in open source hardware and software.  The instrument is named <b>SALCI</b> which stands for: <br>
                  <div>&nbsp</div>
                  <b>S</b> - Sensor <br>
                  <b>A</b> - Array <br>
                  <b>L</b> - Light <br> 
                  <b>C</b> - Controlled <br>
                  <b>I</b> - Instrument <br>
                  <div>&nbsp</div>
                  Source code, build instructables, and demos can be found using the "SALCI" tag in this website Projects/Blog sections.
                 
                  <div>&nbsp</div>
                  I also use open source <b>Processing.org</b> a Java object-oriented programming environment to generate graphics as digital art.
                  Artwork and source code can be viewed using the "Processing" tag in this website Projects/Blog sections.
                  In spots, I use Processing created graphics within the site as content, I try to link back to source code.
                </h3>
              </div> <!-- closing box -->
              <div>&nbsp</div><!-- manual spaces after box -->
              <div>&nbsp</div><!-- manual spaces after box -->
            </div><!-- closing column -->





        </div>
      </div>
</div>
</div>

 <!--<figure class="image"> 
                {{- $img := resources.Get $image -}}
               <img src="/images/test.png"
                     style="width:{{- .Site.Params.homepage.imageWidth -}}" alt="Myself">
                </figure>
            </div>-->




            
 


    {{- partial "footer.html" . -}}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{- partial "sidebar.html" . -}}

{{- end -}}